  <footer class="footer">
      <small>
           <a href="https://rubytutorial-jungieve.c9users.io/">社保大数据业务平台</a>
        by <a href="http://www.scut.edu.cn/cs/">SCUT</a>
      </small>
<nav> <ul>
          <li><%= link_to "关于",   about_path %></li>
          <li><%= link_to "联系", contact_path %></li>
</ul> </nav>
</footer>