 <% provide(:title, "关于") %>
    <h1>关于</h1>
<p>  本项目将对各个孤立的社保业务服务资源进行整合，构建一个社保综合业务公共服务平台，在原本相互隔离的“数据孤岛”间架起沟通的桥梁，为群众提供便利的社保服务。在服务平台之上，可对各个社保业务领域数据进行挖掘和统计分析，并以报表、图形图像等可视化手段展现，为政府政策方针的制定提供参考依据，实现创新性政府服务应用示范。</p>

<h3 id="toc_1">社保数据的ETL处理</h3>

<p>  社保业务服务平台将包含社保服务终端机、社保网上办事大厅、手机APP和微信公众平台等多种服务渠道，在为群众提供社保服务的同时会产生海量的社保数据，此外原始系统外部数据库也包含了大量的社保数据。本平台需要实现对这些数据的采集与融合处理，即利用分布式ETL工具实现社保数据的抽取、转换和加载，构建数据仓库，进而为数据的分析服务。</p>

<h3 id="toc_2">社保数据的存储与管理</h3>

<p>  社保数据的ETL处理使得各类社保业务数据相互融合，实现数据格式、数据内容的统一化，融合统一后的社保数据需要上载到HDFS中，并在云平台上实现对海量社保数据的高效存储和管理。</p>

<h3 id="toc_3">社保大数据分析模型</h3>

<p>  为了提供社保大数据高效查找和统计分析的服务，本项目采用基于分布式OLAP的技术，实现社保业务数据的分析模型。即以社保服务平台采集的“五险”数据为基础，根据年龄、性别、地区、家庭等属性，分析医疗、就业、养老等信息，生成图表、报表、仪表、数据地图等多样的统计形式。该分析模型为政府提供统计分析、预测分析、监测预警等数据支持，其中包括社保基金精算、保险金收发比率、参保人员就业情况、健康水平、消费水平等与政策制定息息相关的数据基础。</p>
